/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.coin {
     position: relative;
     display: inline-block;
     width: 200px;
     height: 200px;
}

.coin > * {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     border-radius: 100%;
     background: gray;
     font-size: larger;
     backface-visibility: hidden;
     transition: transform 2s;
}

p {
     text-align: center;
}

.head {
     transform: rotateY(0);
}

.tail {
     transform: rotateY(180deg);
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
